--- 
title: Tecnología
layout: page 
permalink: "/tecnologia/"
--- 
 {% for tecnology in site.data.tecnologies %}
 <div class="margin_content">
<div class="{{ tecnology.col }}">
  <div class="card">
    <img class="card-img-top" src="{{ tecnology.image }}" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{ tecnology.name }}</h4>
      <ul>{% for detail in tecnology.details %}
        <li>{{ detail.top }}
          <ul>
            {% for sub_array in detail.desc %}
            <li>{{ sub_array.sub }}</li>
            {% endfor %}
          </ul><br/>
        </li>{% endfor %}
      </ul>
    </div>
  </div>
  </div>
 </div>
{% endfor %}
