<div class="sidebar col-sm-3 sidebar_left col-sm-pull-9">
  <div class="sidebar_widget ">
    <h3 class="widget_header">Facebook</h3>
    <div class="widget_content">
      {% include facebook-plugin.html %}
    </div>
  </div>

  <div class="sidebar_widget">
    <h3 class="widget_header">Servicios</h3>
    <div class="widget_content">
      <ul class="list_links">
        {% for item in site.data.services %}
        <li>
          <a href="{{ site.url }}{{ item.href }}">{{ item.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>


</div>