<div class="main_content  col-sm-9 col-sm-push-3">
  <div class="page-scope">
    <div class="page_header">
      <h2 class="page_heading">{{ page.title | escape }}</h1>
    </div>

    <div class="page_content">
      {{ content }}
    </div>
     <div class="homepage_carousel" style="padding-bottom: 0px;">
          <div id="homepage_carousel__1" class="swiper-container product_listing_main">
            <div class="swiper-wrapper myGallery">

              {% for service in site.data.services %}
              <div class="product product_homepage swiper-slide">
                <div class="product_wrapper">
                  <div class="product_img">
                    <a class="img_service"href="{{ service.href }}">
                      <img id="prouct_image" src="{{ service.image }}" alt="{{ product.name }}" />
                   </a>
                  </div>
                  <div class="product_info">
                    <div class="product_name">
                      <h5>{{ service.name }}</h5>
                    </div>
                  
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="swiper_btn btn_prev"></div>
          <div class="swiper_btn btn_next"></div>
        </div>
          <script>
          jQuery(document).ready(function ($) {
            var homepage_carousel__1 = new Swiper('#homepage_carousel__1', {
              loop: true,
              speed: 500,
              slidesPerView: 4,
              spaceBetween: 30,
              prevButton: '.btn_prev',
              nextButton: '.btn_next',
              breakpoints: {
                991: {
                  slidesPerView: 3
                },
                767: {
                  slidesPerView: 2,
                  spaceBetween: 15
                },
                640: {
                  slidesPerView: 1,
                  spaceBetween: 0
                }
              }
            });
          });
        </script>
  </div>
</div>