<div class="wrapper it_AZABDBRCXBVG gray-background">
  <div class="row it_KSDRREKZINYQ full-width">
    <div class="it_LDRIQHKKZFJW    col-lg-12 container">
      <div class="module ">
        <div id="htmlcontent_home">
          <ul class="htmlcontent-home clearfix row">
            <li class="htmlcontent-item-1 col-xs-12">
              <div class="item-html">
                <h3 class="item-title">Free Advisory Service</h3>
                <p>Artworker works directly with talented independent artists as well as top museums and galleries to help you
                  discover art you love. Choose from original paintings, photographs, prints and sculptures.</p>
                <p>Buy or rent the artwork and take advantage of bespoke framing services. All Artworker purchases come with
                  our no-hassle returns policy. For help and advice on any of the art and artists, what to buy, or starting
                  a collection use our free ‘Talk to a Curator’ advisory service.</p>
              </div>
              <div class="img-wrap">
                <img src="http://via.placeholder.com/672x500" class="item-img" title="Free Advisory Service"
                  alt="Free Advisory Service" width="672" height="499" />
              </div>
            </li>
            <li class="htmlcontent-item-2 col-xs-12">
              <div class="item-html">
                <h3 class="item-title">Art Rentals</h3>
                <p>We know, it's a novel idea. We launched art rentals to help people collect art without the risk. Live with
                  art and enjoy it at home at low monthly rates. Rotate works on your walls, and earn credits towards purchase.
                </p>
                <p>Moreover, with every art rental or purchase, you are directly supporting artists of tomorrow and today. Sounds
                  good, doesn't it?</p>
              </div>
              <div class="img-wrap">
                <img src="http://via.placeholder.com/672x500" class="item-img" title="Art Rentals"
                  alt="Art Rentals" width="672" height="499" />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>